<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>default</string>
	<key>images</key>
	<dict>
		<key>homeFeedShare</key>
		<string>feed_share_24x24_</string>
		<key>wechatSDKButton</key>
		<string>weixin_sdk_login_40x40_</string>
		<key>videoConcernButton</key>
		<string>video_add_24x24_</string>
		<key>homeSearchbox</key>
		<string>searchbox_search_20x28_</string>
		<key>weitoutiaoTextButton</key>
		<string>toutiaoquan_release_text_24x24_</string>
		<key>qqButton</key>
		<string>qqicon_login_profile_66x66_</string>
		<key>qqSDKButton</key>
		<string>qq_sdk_login_40x40_</string>
		<key>loginReadButtonSelected</key>
		<string>details_choose_icon_15x15_</string>
		<key>weitoutiaoCommentFeed</key>
		<string>comment_feed_24x24_</string>
		<key>dislikeicon</key>
		<string>dislikeicon_textpage_26x14_</string>
		<key>iconPopupClose</key>
		<string>icon_popup_close_24x24_</string>
		<key>weitoutiaoImageButton</key>
		<string>toutiaoquan_release_image_24x24_</string>
		<key>wukongwenda</key>
		<string>wukonglogo_ask_bar_90x20_</string>
		<key>videoMoreButton</key>
		<string>More_24x24_</string>
		<key>mailboxSDKButton</key>
		<string>mailbox_sdk_login_40x40_</string>
		<key>digButtonSelected</key>
		<string>like_old_feed_press_24x24_</string>
		<key>weitoutiaoVideoButton</key>
		<string>toutiaoquan_release_video_24x24_</string>
		<key>videoSearchIcon</key>
		<string>search_24x24_</string>
		<key>videoBgImageButton</key>
		<string>video_play_icon_44x44_</string>
		<key>sinaSDKButton</key>
		<string>sina_sdk_login_40x40_</string>
		<key>mobileButton</key>
		<string>cellphoneicon_login_profile_66x66_</string>
		<key>shadowAddTitlebar</key>
		<string>shadow_add_titlebar_new3_52x36_</string>
		<key>addChannelTitlbar</key>
		<string>add_channel_titlbar_thin_new_16x16_</string>
		<key>collectionButton</key>
		<string>favoriteicon_profile_24x24_</string>
		<key>wechatButton</key>
		<string>weixinicon_login_profile_66x66_</string>
		<key>historyButton</key>
		<string>history_profile_24x24_</string>
		<key>arrowMoreLogin</key>
		<string>setting_rightarrow_8x14_</string>
		<key>homeCommentFeed</key>
		<string>comment_feed_24x24_</string>
		<key>videoCommentButton</key>
		<string>comment_24x24_</string>
		<key>loginReadButton</key>
		<string>details_choose_ok_icon_15x15_</string>
		<key>weitoutiaoFeedShare</key>
		<string>feed_share_24x24_</string>
		<key>weitoutiaoLikeFeedPress</key>
		<string>like_old_feed_press_24x24_</string>
		<key>navigationBarBackgroundImage</key>
		<string>transparent</string>
		<key>sinaButton</key>
		<string>sinaicon_login_profile_66x66_</string>
		<key>weitoutiaoLikeFeed</key>
		<string>like_old_feed_24x24_</string>
		<key>dayOrNightButton</key>
		<string>nighticon_profile_24x24_</string>
		<key>tianyiSDKButton</key>
		<string>tianyi_sdk_login_40x40_</string>
		<key>digButton</key>
		<string>like_old_feed_24x24_</string>
	</dict>
	<key>colors</key>
	<dict>
		<key>loginMobileViewBackgroundColor</key>
		<string>#fff</string>
		<key>videoTitleColor</key>
		<string>#fff</string>
		<key>black</key>
		<string>#000</string>
		<key>careButtonTextColor</key>
		<string>#2c8ed7</string>
		<key>homeNavBarTintColor</key>
		<string>#d23f42</string>
		<key>tableViewBackgroundColor</key>
		<string>#f6f6f6</string>
		<key>playCountColor</key>
		<string>#c8c8c8</string>
		<key>otherNavBarTintColor</key>
		<string>#fff</string>
		<key>separatorColor</key>
		<string>#F0F0F0</string>
		<key>videoNavTitleColorSelect</key>
		<string>#d23f42</string>
		<key>inTouTiaoButtonBackgroundColor</key>
		<string>#f9a9a9</string>
		<key>inTouTiaoButtonTextColor</key>
		<string>#fff</string>
		<key>cellBackgroundColor</key>
		<string>#fff</string>
		<key>mineOtherCellRightLabel</key>
		<string>#aaaaaa</string>
		<key>moreLoginColor</key>
		<string>#fff</string>
		<key>moreLoginBackgroundColor</key>
		<string>#00000060</string>
	</dict>
</dict>
</plist>
